<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="Logo.jpg" alt=""></a>
            <ul>    
                <li><a href="/about">Why Alivio</a></li>
                <li><a href="/solutions">Solutions</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
            <div>
                <a href="">Sign in</a>
                <a href="" class="btn">Start Trial</a>
            </div>
        </nav>
    </header>
    <main>
        <div id="women404"><img src="404.jpg" alt=""></div>
    </main>
    <footer>
        <nav>
            <a href="/"><img src="Alivio.svg" alt=""></a>
            <ul>    
                <li><a href="/about">Why Alivio</a></li>
                <li><a href="/solutions">Solutions</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>